mixin input(labelName, inputType, inputId, placeholder, required)
  .input
    label.input__label(for=inputId)=labelName
    input.input__field(type=inputType name=labelName id=inputId placeholder=placeholder required=required)
